<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBLvyvOPF2YQgjnpHjXqvTxDB4rVm06KCY</string>
	<key>GCM_SENDER_ID</key>
	<string>721691754949</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.app.iwantit</string>
	<key>PROJECT_ID</key>
	<string>iwantit-8fecc</string>
	<key>STORAGE_BUCKET</key>
	<string>iwantit-8fecc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:721691754949:ios:fb81fbe33bf000f437cbac</string>
</dict>
</plist>